
# Dependencies
# root の node_modules を無視
/node_modules/
functions/node_modules/
frontend/node_modules/

# Build output
functions/dist/
frontend/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
